<html>
  <head>
    <title>Gyazo Help Center</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="stylesheets/gyazo.css" type="text/css">
  </head>
  <body>
    <div id="faq"></div>
    <script src="javascripts/gyazo.js"></script>
  </body>
</html>
